
<div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">Mentor Profile</h1>               
      </div>      

<div class="container" >
    <div class="row pt-4">
        <div class="col-lg-12">
            <table class="table table-striped" style="border:1px solid grey">                
                <tbody>
                    <tr>
                        <td>Trainer Name</td>
                        <td>{{mentorData.mentorName}}</td>
                    </tr>
                    <tr>
                        <td>Email-Id</td>
                        <td>{{mentorData.emailId}}</td>
                    </tr>
                    <tr>
                        <td>Years of Experience</td>
                        <td>{{mentorData.yearsOfExperience}}</td>
                    </tr>
                    <!-- <tr>
                            <td>Mobile Number</td>
                            <td>{{mentorData.contactNumber}}</td>
                        </tr> -->
                    <tr>
                        <td>Registration Date</td>
                        <td>{{mentorData.registrationDate}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>