
<div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">User Profile</h1>               
      </div> 
<div class="container">
    <div class="row pt-4">
        <div class="col-lg-12">
            <table class="table table-striped">                
                <tbody>
                    <tr>
                        <td>Name</td>
                        <td>{{userData.firstName}}&nbsp;{{userData.lastName}}</td>
                    </tr>
                    <tr>
                        <td>Email-Id</td>
                        <td>{{userData.emailId}}</td>
                    </tr>
                    <tr>
                        <td>User Name</td>
                        <td>{{userData.userName}}</td>
                    </tr>
                    <tr>
                        <td>Mobile Number</td>
                        <td>{{userData.contactNumber}}</td>
                    </tr>
                    <tr>
                        <td>Registration Date</td>
                        <td>{{userData.registrationDate}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>