<!-- <p>mentorhome works!</p> -->
<div class="container">
        <div class="d-sm-flex align-items-center justify-content-between mb-4">
                <h1 class="h3 mb-0 text-gray-800">Mentor Dashboard</h1>               
              </div> 
</div>

<!-- <div class="container">
    <div class="row pt-4">
        <div class="col-lg-4">
            <table class="table" style="width:100%">
                <th style="background-color: blue; color:white; text-align: center;width:100%;font-size: 15px">Pending
                </th>
                <tbody>
                    <tr *ngFor="let training of pendingTrainings">
                        <td style="font-size: 12px">You requested for {{training.skillName}} under
                            {{training.mentorName}}
                            from {{training.startDate}} to {{training.endDate}} <p>Fees {{training.fees}}</p>
                            <button  class="btn btn-success btn-sm" (click)="acceptTraining(training.trainingId)">Accept</button>
                            <button class="btn btn-danger btn-sm" (click)="rejectTraining(training.trainingId)" style="margin-left: 120px">Reject</button>
                        </td>
                        <td> </td>
                    </tr>
                   
                </tbody>
            </table>


        </div>
        <div class="col-lg-4">
            <table class="table" style="width:100%">
                <th style="background-color: green; color:white; text-align: center;width:100%;font-size: 15px">
                    Confirmed
                </th>
                <tbody>
                    <tr *ngFor="let training of confirmedTrainings">
                        <td style="font-size: 12px">You requested for {{training.skillName}} under
                            {{training.mentorName}}
                            from {{training.startDate}} to {{training.endDate}} <p>Fees {{training.fees}}</p>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-lg-4">
            <table class="table" style="width:100%">
                <th style="background-color: red; color:white; text-align: center;width:100%;font-size: 15px">Rejected
                </th>
                <tbody>
                    <tr *ngFor="let training of rejectedTrainings">
                        <td style="font-size: 12px">You requested for {{training.skillName}} under
                            {{training.mentorName}}
                            from {{training.startDate}} to {{training.endDate}} <p>Fees {{training.fees}}</p>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

    </div>
</div> -->