<div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">Make Payment</h1>               
      </div> 
<div class="container">
    <div  style="background-color: silver;color: blue;text-align: center"> </div>
    <form #makePaymentForm="ngForm" (ngSubmit)="onSubmit(makePaymentForm.value)">
        <div >
            <label for="">Technology:&nbsp;</label>
            <label for="" style="background-color: yellow;font-weight: bold">{{technology}}</label>
        </div>
        <div class="form-group">
            <label for="">Transaction Type</label>
            <select name="transactionType" class="form-control" ngModel>
                <option value="0">--All--</option>
                <option value="Debit Card" selected>Debit Card</option>
                <option value="Credit Card">Credit Card</option>
                <option value="Net Banking">Net Banking</option>
            </select>
        </div>
        <div class="form-group">
            <label for="">Amount</label>
            <input type="text" name="amount" id="" class="form-control" ngModel>
        </div>
        <div class="form-group">
            <label for="">Payment date</label>
            <input type="text" name="paymentdate" id="" class="form-control" ngModel>
        </div>
        <div class="form-group">
            <label for="">Tax</label>
            <input type="text" name="Tax" id="" class="form-control" ngModel>
        </div>
        <div class="form-group">
            <label for="">Remarks</label>
            <input type="text" name="remarks" id="" class="form-control" ngModel>
        </div>
        <h4>
            <span class="badge badge-warning">{{ makePaymentResponse.errorMessage}}</span>
        </h4>
        <h4>
            <label for="" class="badge badge-warning">{{ makePaymentResponse.successMessage}}</label>
        </h4>
        <button class="btn btn-primary btn-sm" [disabled]="makePaymentResponse.successMessage!=''" >Make Payment</button>

    </form>
</div>