<div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">Payments</h1>               
      </div> 

<div class="container">
    <div class="row pt-4">
        <div class="col-lg-12">
            <table class="table table-striped">
                <th>Technology</th>
                <th>Trainer Name</th>
                <th>Amount</th>
                <th>Tax</th>
                <th>TransactionType</th>
                <th>Payment Date</th>
                <th>Remarks</th>
                <th *ngIf = "getRole() == 'mentor'">Withdraw Monney</th>
                <tbody>
                    <tr *ngFor="let payment of payments">
                        <td>{{payment.technology}}</td>
                        <td>{{payment.trainerName}}</td>
                        <td>{{payment.amount}}</td>
                        <td>{{payment.tax}}</td>
                        <td>{{payment.paymentDate}}</td>
                        <td>{{payment.transactionType}}</td>
                        <td style="color: blue">{{payment.remarks}}</td>
                        <td> <button *ngIf = "getRole() == 'mentor'" class="btn btn-success"
                        (click)="sendRequest(mentor.mentorId,mentor.name,mentor.email)">Withdraw</button> </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>