
<div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">Search Technology</h1>               
      </div> 
      
<div class="row">
    <div class="col-lg-1">
    </div>
    <div class="col-md-4">
        <div class="formgroup">          
        <select (change)="changeSkill($event.target.value)" name="technology" id="" class="form-control form-control-user">
            <option value="0">--All--</option>
            <option *ngFor="let skill of skills" value={{skill.skillId}}>
                {{skill.name}}
            </option>
        </select>
    </div>        
    </div>
    <div class="col-lg-1">
            <button class="btn btn-primary ml-3" (click)="getMentorBySkill()">Search</button>
        </div>
</div>

<div class="row" style="padding-top:15px" *ngIf="haveSkills()===true">
    <table class="table table-striped">
        <th>Name</th>
        <th>Expertise Technology</th>
        <th>Experience</th>
        <th>LinkedIn Profile</th>
        <th>No: Of Trainings Done</th>
        <th>Fees</th>
        <tbody>
            <tr *ngFor="let mentor of mentors">
                <td>{{mentor.name}}</td>
                <td>{{mentor.skill}}</td>
                <td>{{mentor.yearsOfExperience}}</td>
                <td>{{mentor.linkedInUrl}}</td>
                <td>{{mentor.noOfTrainingsCompleted}}</td>
                <td>{{mentor.fees}}</td>
                <!-- <td><a class="badge badge-success" href="/sendrequest/{{mentor.mentorId}}">Details</a></td> -->
                <!-- <td><a class="badge badge-success" routerLink ="/sendrequest/{{mentor.mentorId}}/{{mentor.name}}/{{mentor.skill}}">Send Request</a> -->
                <td> <button class="btn btn-success"
                        (click)="sendRequest(mentor.mentorId,mentor.name,mentor.email)">Send Request</button> </td>

            </tr>
        </tbody>
    </table>
</div>